.box-A {
  background-color: lightgray;
  padding: 30px;
  border: 3px black solid;
  margin-bottom: 10px;
  width: 250px;
  height: 250px;
  box-sizing: border-box;
}

.box-B {
  background-color: orange;
  width: 250px;
  height: 250px;
}
